*{
  box-sizing: border-box;

}
*:focus{
  outline: 3px dotted #7296EC;
  outline-offset: 3px;
}
html{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik","Sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}
img{
  display: block;
}
.container{
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.site-header {
  display: flex;
  flex-direction: column;
}
.link{
  text-decoration: none;
  color: #000000;
  transition: color 0.4s ease,
  opacity 0.4s ease;
}
.link:hover{
  color:#7296EE;
}
.link:active{
  opacity: 0.6;
}


/* Site-header-top */
.site-header-top {
  background-color: #F6F6F6;
  margin-bottom: 30px;
}
.site-header-top-container {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.site-header-top-logo {
}
.site-header-logo {
  display: flex;
  background-color:#fff;
  padding: 8px 6px;
  border-radius: 7px;
  margin-right: 41px;
}
.site-header-logo-img{
  object-fit: contain;
  transition: opacity 0.4 ease;
}
.site-header-logo-img:hover{
  opacity: 0.8;
}
.site-header-logo-img:active{
  opacity: 0.6;
}


/* Currency-rate */
.currency-rate-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: auto;
}
.currency-rate-list-item:not(:last-child){
  margin-right: 25px;
}
.global-search-form{
  margin-right: 25px;
}
.global-search-form-input{
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 40px;
  padding-right: 20px;
  border: 0;
  font-style: 14px;
  line-height: normal;
  border-radius: 60px;
}
.currency-rate-type{
  font-weight: 700;
  line-height: 1.2;
  color:#2959CE;
}
.currency-rate-value{
  color:#555555;
  line-height: 1.2;
}


/* Lang toggle */
.lang-toggle {
  display: flex;
  text-transform: uppercase;
  margin-right: 25px;
  background-color:#DCE6FF;
  border-radius:  39px;
  padding: 3px;
}
.lang-toggle-link {
  text-decoration: none;
  text-align: center;
  color: #a6a6a6;
  border-radius: 50%;
  font-size: 13px;
  line-height: 30px;
  width: 30px;
  height: 30px;
}
.lang-toggle-link-active {
  background-color:#fff;
  color:#000000;
}

/* button */
.button-primary {
  background-color: #7296EC;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 10px;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4 ease;
}
.button-primary:hover{
  opacity: 0.8;
}
.button-primary:active{
  opacity: 0.6;
}


/* navigation */
.nav {
  margin-bottom: 40px;
}
.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #D1D1D1;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.nav-list-item{
  list-style: none;
}
.nav-list-item:not(:last-child){
  margin-right: 34px;
}
.nav-list-item-link{
  text-decoration: none;
  color: #7F7F7F;
  font-weight: 500;
  font-size: 18px;
  line-height:normal;
  transition: color 0.4 ease,
  opacity 0.4 ease;
}
.nav-list-item-link:hover{
  color:#2959CE;
}
.nav-list-item-link:active{
  opacity: 0.6;
}

.site-header-banner{
  object-fit: cover;

  margin-bottom: 50px;
}
.site-header-banner-link{
  display: flex;
}

/* Site main */
.site-main{
  flex-grow: 1;
  margin-bottom: 107px;
}

/* Main content */

.main-content{
  margin-bottom: 60px;
}
.main-content-header{
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.main-content-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  padding-left: 0;
  margin-left: -10px;
  margin-bottom: -10px;
}
.main-content-list-item {
  background-color: #F6F6F6;
  border-radius: 15px;
  list-style: none;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 392px;
  padding: 20px 17px 15px 17px;
}
.article-item{
  margin-bottom: 0;
}
.title{
  font-weight: 500;
  /* line-height: normal; */
  color: #000000;
  margin: 0;
}
.text{
  margin: 0;
  font-weight: 400;
  font-style: 16px;
  line-height: normal;
  color: #4A4B4C;
}

.main-content-list-item{
  display: flex;
  flex-direction: column;
}

.main-content-text{
  margin-bottom: 15px;
}
.card-title{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.3;
}
.big-img{
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: auto;
}
.card-bottom {
  /* min-height: 30px; */
  display: flex;
}

.about-card-bottom{
  display: flex;
  align-items: center;
  font-weight: 400px;
}
.little-img{
  border-radius: 5px;
  margin-right: 10px;
}

/* Notification */
.notification{
  margin-bottom: 60px;
}
.notification-container{
  background-image: url(../img/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 71px 24px 29px;
  border-radius: 15px;
  border:none;
  max-width: 1050px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.notification-title{
  font-size: 20px;
  line-height: 26px;
  width: 404px;
}
.btn{
  background-color: #F78B3B;
  border-radius: 10px;
  border-color: transparent;
  padding: 13px 30px;
  color:#fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  transition: color 0.3s ease,
  opacity 0.3s ease;
}
.btn:hover{
  background-color:#fff;
  color: #F78B3B;
  cursor: pointer;
}
.btn:active{
  opacity: 0.6;
}


/* News */

.news-container{
  margin-bottom: -10px;
}
.news{
  display: flex;
  margin-bottom: 10px;
}
.news-title{
  margin-bottom: 20px;
  font-size: 24px;
  line-height: normal;
}
.news-left-list{
  padding: 0;
  margin-bottom: 0;
}
.news-left{
  border-bottom: 1px solid #D2D2D2;
}
.article-news{
  margin: 0;
  margin-bottom: 60px;
}
.news-img{
  border-radius: 10px;
  margin-right: 15px;
}
.card-bottom-text{
font-size: 14px;
line-height: 17px;
}
.news-left-list{
  margin-top: 0;
  margin-right: 10px;
}
.news-left-text{
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 46px;
}
.news-left-list-items{
  box-sizing:border-box;
  display: flex;
  align-items: center;
  width: 797px;
  background-color: #F6F6F6;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 20px 20px 20px 17px;
}

.news-left-list-items:last-child {
  margin-bottom: 0;
}

.news-left-list-item-title{
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 10px;
}
.news-left-list-item-text{
  margin-bottom: 17px;
}
.news-left-news-img{
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}
.article{
  margin-bottom: 24px;
}

.article-title{
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 20px;
}



.news-right-list {
  background-color: #F6F6F6;
  border-radius: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 20px 20px 25px 17px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.news-right-list-item:not(:last-child){
  border-bottom: 1px solid #d6d6d6;
  margin-bottom: 20px;
  box-sizing: inherit;
}
.news-right-list-item:nth-child(1){
  margin-bottom: 25px;
  border-bottom: 0;
}
.news-right-header-link{
  font-weight: 500;
  font-size: 24px;
  line-height: normal;
  margin-bottom: 25px;
}
.news-right-list-title {
  font-size: 18px;
  line-height: normal;
  margin-bottom: 8px;
  line-height: 24px;
}
.news-right-list-text{
  margin-bottom: 20px;
}

.news-right-list-item:last-child p{
  margin-bottom: 0;
}
.news-btn{
  background: #EAEAEA;
  border-radius: 10px;
  padding: 17px 343px;
  border:none;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}



/* site-footer */
.site-footer{
  background-color:  #7297EF;
}
.site-footer-container{
  max-width: 998px;
  width: 100%;
  margin-bottom: 20px;
}
.site-footer-middle{
  display: flex;
  margin-bottom: 30px;
  border-bottom: 1px solid #CECECE;
  padding-bottom: 30px;
}
.site-footer-title{
  margin: 0;
  margin-top: 40px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  font-style: normal;
}
.site-footer-text{
  width: 229px;
  margin: 0;
  margin-right: auto;
  color:#fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
}
.site-footer-list{
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-footer-list-item:not(:last-child){
  margin-right: 100px;
  margin-bottom: 20px;
}
.site-footer-list-link{
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
  text-decoration: none;
  transition: border-bottom 0.4s ease;
}
.site-footer-list-link:hover{
  border-bottom: 1px solid #fff
}
.social{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 20px;
  padding-bottom: 40px; */
}
.socials{
  width: 161px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
.social-list{
  display: flex;
  list-style: none;
  margin: 0;
}
.social-img{
  display: block;
}
.social-list-item:not(:last-child){
  margin-right: 32px;
}
